{% extends 'base.html' %}
{% block sub_title %}交易資訊{% endblock sub_title %}
{% block body %}
	<div class="container-fluid mt-3">
		<div class="row">
			<div class="row">
				<div class="col-sm-12 col-md-8 offset-md-2">
					<table class="table">
						<tbody>
						<tr>
							<td>Hash</td>
							<td>{{ transaction.hash.hex() }}</td>
						</tr>
						<tr>
							<td>blockHash</td>
							<td>{{ transaction['blockHash'].hex() }}</td>
						</tr>
						<tr>
							<td>blockNumber</td>
							<td>{{ transaction['blockNumber'] }}</td>
						</tr>
						<tr>
							<td>from</td>
							<td>{{ transaction['from'] }}</td>
						</tr>
						<tr>
							<td>to</td>
							<td>{{ transaction['to'] }}</td>
						</tr>
						<tr>
							<td>gas</td>
							<td>{{ transaction['gas'] }}</td>
						</tr>
						<tr>
							<td>gasPrice</td>
							<td>{{ transaction['gasPrice'] }}</td>
						</tr>
						<tr>
							<td>maxFeePerGas</td>
							<td>{{ transaction['maxFeePerGas'] }}</td>
						</tr>
						<tr>
							<td>maxPriorityFeePerGas</td>
							<td>{{ transaction['maxPriorityFeePerGas'] }}</td>
						</tr>
						<tr>
							<td>nonce</td>
							<td>{{ transaction['nonce'] }}</td>
						</tr>
						<tr>
							<td>r</td>
							<td>{{ transaction['r'].hex() }}</td>
						</tr>
						<tr>
							<td>s</td>
							<td>{{ transaction['s'].hex() }}</td>
						</tr>
						<tr>
							<td>v</td>
							<td>{{ transaction['v'] }}</td>
						</tr>
						<tr>
							<td>transactionIndex</td>
							<td>{{ transaction['transactionIndex'] }}</td>
						</tr>
						<tr>
							<td>type</td>
							<td>{{ transaction['type'] }}</td>
						</tr>
						<tr>
							<td>value</td>
							<td>{{ transaction['value'] }}</td>
						</tr>
						<tr>
							<td>input</td>
							<td>
								<textarea class="form-control">{{ transaction['input'] }}</textarea>
								<form action="/search/to-utf-8" method="post">
									<input type="hidden" name="data" value="{{ transaction['input'] }}">
									<input type="submit" class="btn btn-primary mt-2" value="轉換為 UTF-8">
								</form>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
{% endblock body %}