{% extends 'base.html' %}
{% block sub_title %}查詢{% endblock sub_title %}
{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="alert alert-light text-center">-- 錢包 --</div>
			</div>

			<div class="col-md-6 col-sm-12 mb-2">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">私鑰</h5>
						<p class="card-text">產生錢包私鑰</p>
						<a href="/wallet/generate_key" class="btn btn-primary">產生</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-12 mb-2">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">公鑰</h5>
						<p class="card-text">將私鑰轉換為公鑰</p>
						<form action="/wallet/public_key" method="get" class="row g-3 align-items-center">
							<div class="col-auto">
								<label for="input-block-num-tran" class="col-form-label">私鑰</label>
							</div>
							<div class="col-auto">
								<input type="text" name="key" id="input-block-num-tran" class="form-control"
									   placeholder="請輸入私鑰">
							</div>
							<div class="col-auto">
								<input type="submit" class="btn btn-primary" value="轉換">
							</div>
						</form>

					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-12 mb-2">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">錢包餘額</h5>
						<p class="card-text">查詢錢包餘額</p>
						<form action="/wallet/balance" method="get" class="row g-3 align-items-center">
							<div class="col-auto">
								<label for="input-block-num-tran" class="col-form-label">錢包</label>
							</div>
							<div class="col-auto">
								<input type="text" name="key" id="input-block-num-tran" class="form-control"
									   placeholder="請輸入錢包的公鑰">
							</div>
							<div class="col-auto">
								<input type="submit" class="btn btn-primary" value="查詢">
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-12 mb-2">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">交易</h5>
						<p class="card-text">產生一筆交易</p>
						<a href="/wallet/transaction" class="btn btn-primary">前往產生</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-12 mb-2">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">NFT</h5>
						<p class="card-text">查詢此錢包擁有的 NFT</p>
						<form action="/wallet/balance" method="get" class="row g-3 align-items-center">
							<div class="col-auto">
								<label for="input-block-num-tran" class="col-form-label">錢包</label>
							</div>
							<div class="col-auto">
								<input type="text" name="key" id="input-block-num-tran" class="form-control"
									   placeholder="請輸入錢包的公鑰">
							</div>
							<div class="col-auto">
								<input type="submit" class="btn btn-primary" value="查詢">
							</div>
						</form>
					</div>
				</div>
			</div>


			<div class="col-md-6 col-sm-12 mb-2">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">錢包</h5>
						<p class="card-text">錢包列表，查看所有儲存的公私鑰</p>
						<a href="/wallet/list" class="btn btn-primary">擁有的錢包</a>
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock body %}